.Event-window{
    position: fixed;
    border-radius:5px;
    background-color: aquamarine;
    margin-left:-200px;
    left:50%;
    top:50%;
    margin-top:-125px;
    width:400px;;
    height: 250px;
    padding:15px;
    .Time{
        font: 1.2em sans-serif;
        .material-icons{
            margin-right: 5px;
        }
    }
    .Title-record,.Description-record{
        font-size: 1.1em;
        margin: 10px 0 10px 20px;
    }
    .Btn-close{
        position: absolute;
        top:5px;
        right: 5px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        text-align: center;
    }
    .Btn-close:hover{
        background-color:rgba(100,100,100,0.3);
    }
    .Err-valid{
        color:red;
        font-size: 0.8em;
    }
    .Edit{
        width: 90%;
        margin-bottom: 15px;
        
    }
    textarea{
        height: 50px;
    }

}