.Events-list-page{
    position: relative;
    .Info-msg{
        padding: 10px;;
        width:250px;
        height: 100px;
        position: fixed;
        left:50%;
        margin-left:-125px;
        top:50%;
        margin-top:-50px;
        background-color: aqua;
        border:1px solid black;
        border-radius: 10px;

    }
    .Head{
         padding-left:10px;
        .Date{
            display: inline-block;
            width:160px;
            font-size:1.2em;
        }
        .Navigation{
            display: inline-block;
        }
        .Week{
            font-size:1.2em;
            float: left;
        }
        .Link-curmonth{
            float: right;
        }

    }
}