.Month-page{
    width: 100%;
    .Head{
        margin-bottom: 10px;
        .Date{
            width: 150px;
            display: inline-block;
            font-size: 1.2em;
        }
    }
    .Row-week{
        display: flex;
    }

}
