.List-row{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    overflow: hidden;
    .Hour{
        width:40px;
        text-align: right;
        float: left;
         }
    .Record{
        height: 38px;
        background-color: antiquewhite;
        margin-left:5px;
        padding-left: 15px;
        margin-left:45px;
        &.with-data{
            background-color: rosybrown;
        }
        .Actions{
            float: right;
        }

        .Record-body{
            height: 38px;
            margin-right: 100px;
            display: inline-block;

           .Minutes{
               line-height: 15px;
            } 
            .Record-title{
                line-height: 20px;
                vertical-align: bottom;
                padding-left:15px;
            }
        }
    }
    }