.Day-cell{
    width:14.3%;
    border: 1px solid black;
    display: inline-block;
    height: 100px;
    position: relative;
    &.Weekend{
        background-color: burlywood;
    }

    .Date{
        margin-left: 10px;
        margin-top: 5px;
    }
    .Count-records{
        background-color: crimson;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        right: 10px;
        bottom: 10px;

    }
}